body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(15, 23, 42), rgb(88, 28, 135), rgb(15, 23, 42));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Navegador */
.nav-header {
    display: flex;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
}

.imagen-logo {
    padding-top: 3px;
}

.nav-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.nav-header ul li {
    margin: 0 15px;
}

.nav-header ul li a {
    color: #fff;
    text-decoration: none;
}

.nav-header ul li a:hover {
    text-decoration: underline;
}

.login {
    font-weight: bold;
    color: #7e7e7e;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

.login a {
    text-decoration: none;
    color: #7e7e7e;
}

.login a:hover {
    text-decoration: underline;
    color: #5f5f7c;
}